<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/style.css" type="text/css">
    <title>Document</title>
    <style>
        @font-face {
            font-family: CreteRound;
            src: local("CreteRound Regular"),
                url(/fonts/CreteRound-Regular.ttf);
        }

        @font-face {
            font-family: Roboto;
            src: local("Roboto Regular"),
                url(/fonts/Roboto-Regular.ttf);
        }
    </style>
</head>

<body>
    <main>
        {% extends 'layout.html' %}
        {% block content %}

        <section class="l-containerLight">
            <form action="#" method="post">
                <fieldset>
                    <legend>Registrieren</legend>
                    <div id="form">
                        <p>Registrieren Sie sich als Nutzer, um Exponate bearbeiten und die Besucher verwalten zu
                            koennen.</p>
                        <label>Nutzername:</label><input type="text" id="form_name" name="name"
                            value="{{ form['name'] }}"><br />
                        <label>Passwort:</label><input type="text" id="form_password" name="password"
                            value="{{ form['password'] }}"><br />

                    </div>
                    <button type="submit" value="submit">Registrieren</button>
                </fieldset>
            </form>
        </section>
        {% endblock %}
        <main>

</body>

</html>