<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/style.css" type="text/css">
    <title>Document</title>
    <style>
        @font-face {
            font-family: CreteRound;
            src: local("CreteRound Regular"),
                url(/fonts/CreteRound-Regular.ttf);
        }

        @font-face {
            font-family: Roboto;
            src: local("Roboto Regular"),
                url(/fonts/Roboto-Regular.ttf);
        }
    </style>
</head>

<body>
    <main>
        {% extends 'layout.html' %}
        {% block content %}
        <h1>Exponat loeschen</h1>
        <section class="l-containerLight">
            <form action="/exponat/{{exponat.ID}}/delete" method="post">
                <fieldset>
                    <legend>Wollen Sie das Exponat wirklich loeschen?</legend>
                    <input type="submit" value="Löschen">
                    <a href="/">
                        abbrechen
                    </a>
                </fieldset>
            </form>
        </section>
        {% endblock %}
        <main>
</body>

</html>