<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>DetailView Exponat</title>
    <style>
        @font-face {
            font-family: CreteRound;
            src: local("CreteRound Regular"),
                url(/fonts/CreteRound-Regular.ttf);
        }

        @font-face {
            font-family: Roboto;
            src: local("Roboto Regular"),
                url(/fonts/Roboto-Regular.ttf);
        }
    </style>
</head>

<body>
    {% extends 'layout.html' %}
    {% block content %}
    <main>
        <section class="exponat-details-container">
            <img src="/images/{{exponat.image}}" alt="Stock fotage of plakate" alt="Farbklecks" height="100%"
                width="100%">
            <article class="exponat-details">
                <h1> {{exponat.title}} </h1>
                <p>{{exponat.description}}</p>

                <ul class="exponat-information">
                    <li><b>Studiengang: <b>{{exponat.course}}</b></li>
                    <li><b>Studienfachsemester: <b>{{exponat.semester}}</b></li>
                    <br>
                    <li>
                        <b>Studierende: <b>{{exponat.students}}</b>
                    </li>
                    <br>
                    <li>
                        <b>Lehrverantwortliche: <b>{{exponat.teacher}}</b> </b>
                    </li>
                </ul>
                {% if canEdit %}
                <nav class="container">
                    <a href="/exponat/{{exponat.ID}}/edit" mehtod="get">
                        <Button>Bearbeiten</Button></a>
                    <a href="/exponat/{{exponat.ID}}/delete" mehtod="get">
                        <Button>Loeschen</Button>
                    </a>
                </nav>
                {% endif %}
            </article>
        </section>

    </main>
    {% endblock %}

</body>