<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/style.css" type="text/css">
    <title>Layout</title>
    <style>
        @font-face {
            font-family: CreteRound;
            src: local("CreteRound Regular"),
                url(fonts/CreteRound-Regular.ttf);
        }

        @font-face {
            font-family: Roboto;
            src: local("Roboto Regular"),
                url(fonts/Roboto-Regular.ttf);
        }
    </style>
</head>

<body>
    <div class="menu-placeholder"></div>
    <section class="menu-container">
        <input id="toggle-mobile-menu" type="checkbox" />
        <label class="hamburger" for="toggle-mobile-menu">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>
        <nav class="menu">
            <a href="/">Home</a>
            <a href="hochschule.html">Über die Hochschule</a>
            <a href="kontakt.html">Kontakt</a>
            <a href="dokumentation.html">Dokumentation</a>
            <a href="timeline.html">Timeline</a>
        </nav>
    </section>


    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <section class="footer-general">
            <div>
                <h3>Kontakt</h3>
                <ul>
                    <li>Hochschule Flensburg</li>
                    <li>Kanzleistraße 91-93</li>
                    <li>24943 Flensburg</li>
                </ul>
                <ul>
                    <li>Telefon: +49 (0)461 805 - 01</li>
                    <li>Telefax: +49 (0)461 805 - 1300</li>
                    <li>Mail: infopoint@hs-flensburg.de</li>
                </ul>
            </div>
        </section>

        <section class="footer-legal">
            <p>
                Hochschule Flensburg
            </p>
            <div class="impressum-box">
                <ul>
                    <li><a>Impressum</a></li>
                    <li><a>Datenschutz</a></li>
                </ul>
            </div>
            <div class="image-placeholder">
                <div></div>
                <img src="/images/Bottom.png" alt="Farbklecks" height="100%" />
            </div>
        </section>
    </footer>
</body>

</html>